[Unit]
Description=A simple daemon to control fan speed on Mac Pro 2019

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/usr/bin/t2fanrd
PIDFile=/run/t2fand.pid

[Install]
WantedBy=default.target
